{% extends "home.html"%}


{% block titre%} Accueil  {%endblock%}

{% block container%}

	<div class="container-fluid">
		  
		<div class="row">

			<div class="col-md-4">
				<div class="panel panel-danger">
					<div class="panel-heading text-center">
						<h1>Maillage Visuel Simple</h1>
					</div>
					<div class="panel-body">
						<div class="bs-component">
                            
                            <div class="page-header">
                            		<h1 class="text-danger text-center"><i class="mdi-action-favorite mdi-material-pink" style="font-size: 40pt;"></i> Bienvenue <i class="mdi-action-favorite mdi-material-lime" style="font-size: 40pt;"></i></h1>
                        	</div>  
                            <div class="well">
                         	       <p> 
                         	       	   <blockquote>
                         	       	   	L'objectif de cette partie est de vous permettre de générer un maillage
                         	       	   	de triangles à partir d'un nombre P.<br/>
                         	       	   	<small class="pull-right htag">#Thierno Thiam</small>
                         	       	   </blockquote>
                         	       </p>
                            </div>
                        </div>

					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-lg-offset-4 col-lg-4">
								<a href="/maillage_simple">
									<button class="btn btn-primary btn-flat"><i class="mdi-navigation-check"></i> Créer</button>
								</a>
							
						</div>
						</div>
						
						
					</div>

			</div>
		</div>


				


			<div class="col-md-4">
				<div class="panel panel-success">
					<div class="panel-heading text-center">
						<h1>2 Fichiers un maillage </h1>
					</div>
					<div class="panel-body">
						<div class="bs-component">
                            
                            <div class="page-header">
                            		<h1 class="text-danger text-center"><i class="btn btn-default btn-fab btn-raised mdi-action-grade"></i> Bienvenue <i class="btn btn-warning btn-fab btn-raised mdi-action-grade"></i></h1>
                        	</div>  
                            <div class="well">
                         	       <p> 
                         	       	   <blockquote>
                         	       	   	Dans cette partie nous allons créer le maillage à partir de 2 fichiers.<br/><br/>
                         	       	   	<small class="pull-right htag">#Thierno Thiam</small>
                         	       	   </blockquote>
                         	       </p>
                            </div>
                        </div>

					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-lg-offset-4 col-lg-4">
								<a href="/maillage_file">
									<button class="btn btn-primary btn-flat"><i class="mdi-navigation-check"></i> Créer</button>
								</a>
							
						</div>
						</div>
						
						
					</div>



					</div>
			</div>

			<div class="col-md-4">
			</div>
		

		</div>



	</div>	



{%endblock%}






